<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
</head>
<body>
	<?php foreach($data as $par){ ?>
		<form action="?action=adduser" method="post">

			User Name:
			<input type="text" name="username"/><br />
			Password:
			<input type="text" name="password"/><br />
			Email:
			<input type="text" name="email"/><br />
			Social Media:
			<input type="text" name="media"/><br />
			Birthday:
			<input type="text" name="birthday"/><br />
			Donations:
			<input type="text" name="donations"/><br />
			Gender:
			<input type="text" name="gender"/><br />
			Experience:
			<input type="text" name="experience"/><br />
			Bio:
			<input type="text" name="bio"/><br />

			<input type="submit" value="Add" />
		</form>
	<?php } ?>
</body>
</html>